@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    height: 100%;
    background: #e6e1de;
}

section {
    position: relative;
    width: 100%;
    min-height: 100%;
    justify-content: center;
    align-items: center;
    background: #e6e1de;
}

.header {
    padding: 60px 1.5rem;
    background: #fff;
    max-width: 1980px;
    max-height: 160px;
    margin: 0 auto;
}

.header a img {
    position: relative;
    width: 200px;
    margin: -10px 0 0 100px;
}

.header .nav {
    position: relative;
    display:flex;
    margin: 0 0 0 85%;
}

.header .nav .no-active {
    display: none;
}

header .nav li {
    list-style: none;
    margin: -40px 0 0 0;
}

.header .nav li a {
    display: inline-block;
    color: #000;
    font-weight: 600;
    text-decoration: none;
    margin-left: 20px;
}

.navigation {
    float: left;
    width: 360px;
    height: 800px;
}

.navigation .side-bar {
    position: fixed;
    top: 160px;
    left: 80px;
    bottom: 20px;
    width: 300px;
    box-sizing: inherit;
    transition: width 0.5s;
}

.navigation .side-bar ul {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-top: 60px;
}

.navigation .side-bar ul li {
    position: relative;
    padding: 5px 0 0 0;
    list-style: none;
    width: 100%;
    margin: 0 -20px;
}

.navigation .side-bar ul li a {
    position: relative;
    font-weight: 600;
    width: 90%;
    display: flex;
    text-decoration: none;
    text-align: center;
    color: #636262;
    margin: 10px 0 0 0;
    padding: 5px 25px 5px 25px;
}

.navigation .side-bar ul li a .icon {
    position: relative;
    display: block;
    min-width: 60px;
    height: 25px;
    line-height: 25px;
    text-align: center;
}

.navigation .side-bar ul li a:hover {
    color: #fff;
    background: #0d4552;
    border-radius: 8px;
    transition: 0.9s;
}

.navigation .side-bar ul li a .icon {
    position: relative;
    display: block;
    min-width: 60px;
    height: 25px;
    line-height: 25px;
    text-align: center;
}

.navigation .side-bar ul li a .icon ion-icon {
    font-size: 1.5em;
}

.navigation .side-bar ul li a .icon .fas {
    position: relative;
    display: block;
    min-width: 60px;
    height: 25px;
    line-height: 25px;
    text-align: center;
}

.navigation .side-bar ul li a .icon .fa-newspaper {
    font-size: 1.5em;
}


.navigation .side-bar ul li a .title {
    position: relative;
    display: block;
    height: 25px;
    line-height: 25px;
    white-space: normal;
}

.navigation .side-bar ul li a .col {
    color: #b0b0af ;
}


.container {
    position: relative;
    background: #fff;
    max-width: 75%;
    height: 1100px;
    margin: 75px 0 0 360px;
    display: block;
    flex-wrap: wrap;
    justify-content: space-between;
}

.container .hat {
    background: #0d4552;
    position: relative;
    top: -5px;
    display: flex;
    width: 100%;
    height: 90px;
    margin: 20px 0;
    border-radius: 10px 10px 0 0;
}

.container .hat h1 {
    display: block;
    color: #fff;
    width: 285px;
    margin: 30px 0 0 40px;
    font-weight: 800;
}

.container .search {
    left: 20px;
    right: 20px;
    border-radius: 10px;
    margin: 0 auto;
    display: block;
    color: #000;
    width: 85%;
    min-width: 200px;
    height: 40px;
}

.container .search form {
    position: relative;
    width: 100%;
    margin: 0 auto;
}

.container .search form input {
    width: 100%;
    height: 42px;
    padding-left: 10px;
    border: 2px solid #c9c9c9;
    border-radius: 5px;
    outline: none;
    background: #fff;
    color: #9E9C9C;
    font-weight: 600;
    margin: 0 auto;
}

.container .search form button {
    position: absolute;
    top: 0;
    right: 0;
    width: 42px;
    height: 42px;
    border: none;
    background: #c9c9c9;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    margin: 0 auto;
    transition: 0.9s;
}

.container .search form button:hover {
    background: #0a4551;
}

.container .search form button ion-icon {
    position: relative;
    display: block;
    min-width: 60px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    color: #fff;
    font-size: 2em;
    margin: 0 0 0 -8px;
    width: 70%;
}

.container .search form button ion-icon:hover {
   color: #fff;
}

.index {
    position: absolute;
    display: flex;
    margin: 20px 0 0 100px;
    padding: 2px 10px 2px 10px;
}

.index a {
    position: relative;
    display: flex;
    background: #e8e8e8;
    font-weight: 800;
    color: #000;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 40px;
    box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.15);
    margin: 5px 15px 0 0;
    padding: 0 0 0 15px;
    transition: 0.5s;
}

.index a:hover {
    background: #0d4552;
    color: #fff;
}

.index a img {
    position: absolute;
    width: 16px;
    margin: 11px 0 0 5px;

}

.index a p {
    position: relative;
    margin:  14px 25px;
    font-size: 10px;
    justify-content: center;
}

.content {
    position: relative;
    width: 100%;
    height: 750px;
    margin: 100px 0 0 0;
}

.content .box-content {
    position: relative;
    display: flex;
    margin: 0 auto;
    padding: 0 2px 0 2px;
    width: 85%;
    height: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: inherit;
}

.content .box-content .box {
    position: relative;
    color: #000;
    height: 350px;
    width: 350px;
    border: 2px solid #cdcdcd;
    margin: 0 0 40px 0;
    border-radius: 10px;
    background: #fff;
}

.content .box-content .box:hover {
    background: #f5f5f5;
}

.content .box-content  .box a {
    position: relative;
}

.box a div {
    position: absolute;
    display: flex;
    width: 100%;
    text-decoration: none;
}

.box a img {
    position: relative;
    width: 350px;
    margin: -2px 0 0 -2px;
    border-radius: 10px;
}

.box a div {
    position: absolute;
    margin: 10px 0 0 0;
}

.box a div img {
    position: relative;
    margin: 3px 0 0 7px;
    width: 15px;
    height: 15px;
}

.box a div h3 {
    position: relative;
    min-width: 170px;
    margin: 3px 0 0 5px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    color: #91070b;
}

.box a div h4 {
    position: relative;
    min-width: 70px;
    font-size: 14px;
    margin: 2px 0 0 50px;
    color: #000;
}

.box a div p {
    position: absolute;
    display: block;
    font-weight: 800;
    font-size: 14px;
    color: #000;
    margin: 35px 5px 0 5px;
    padding: 0 5px;
}


.footer {
    position: relative;
    background: #0a4551;
    width: 100%;
    height: 300px;
}

.footer .footer-box {
    position: relative;
    width: 300px;
    margin: 0 auto;
    padding: 92px 0 0 0;
    text-align: center;
}

.footer .footer-box h2 {
    color: #fff;
    margin: 0 0 50px 0
}

.footer .footer-box p {
    color: #fff;
    margin: 0 0 10px 0;
}

.footer .footer-box p a {
    text-decoration: none;
    color: #fff;
}

@media (max-width: 1675px) {
    .container {
        max-width: 55%;
        margin: 75px 0 0 460px;
    }

    .navigation .side-bar {
        left: 120px;
    }

    .index {
        margin: 20px 0 0 60px;
    }
}

@media (max-width: 1530px) {
    .navigation .side-bar {
        left: 150px;
    }

    .index {
        margin: 15px 10px 0 20px;
    }

    .index a {
        margin: 0 10px 0 0;
        padding: 0 0 0 16px;
    }

    .index a img {
        display: none;
    }

    .index a p {
        margin: 0 5px;
        font-size: 8px;
        padding: 3px 3px 3px 3px;
    }


    .container {
        max-width: 30%;
        margin: 75px 0 0 500px;
        height: 1800px;
    }

    .container .box-content {
        margin: -10px auto;
        padding: 0 2px 0 10px;
    }
}

@media (max-width: 1416px) {
    .index {
        margin: 15px 10px 0 15px;
    }

    .container .box-content {
        margin: -10px auto;
        padding: 0 2px 0 5px;
    }

    .box a img {
        margin: -10px 0 0 -2px;
    }
}

@media (max-width: 1390px) {
    .header .nav {
        margin: 0 0 0 80%;
    }

    .container {
        height: 1600px;
    }
    .container .box-content .box {
        height: 300px;
        width: 300px;
        margin: -50px auto 90px auto;
    }

    .box a img {
        width: 300px;
    }

    .box a div h4 {
        margin: 2px 0 0 0;
    }

    .index {
        display: none;
    }

    .container .search form button {
        transition: none;
    }

}

@media (max-width: 1200px) {
    .container .hat h1 {
        font-size: 21px;
        margin: 30px 0 0 auto;
    }
}

@media (max-width: 1240px) {
    .header .nav {
        margin: 0 0 0 77%;
    }

    .navigation .side-bar {
        left: 80px;
    }

    .container {
        margin: 75px 0 0 375px;
    }
    .container .box-content .box {
        height: 300px;
        width: 260px;
        margin: -50px auto 90px auto;
    }

    .box a img {
        width: 260px;
    }

    .box a div h4 {
        margin: 2px 0 0 -25px;
    }
}

@media (max-width: 991px) {
   section {
       padding: 150px 40px;
   }

    .header {
        padding: 40px;
        margin: -100px auto;
    }

    .header .nav {
        display: none;
    }

    .header a img {
        position: absolute;
        margin: -15px 0 0 0;
    }

    .header .nav .no-active {
        display: block;
        margin: 20px 0 0 0;
        padding: 0 0 15px 0;
    }

    .header .nav.active {
        position: fixed;
        top: 0;
        left: -85%;
        width: 120%;
        height: 100%;
        background: #0d4552;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 10;
    }

    .header .nav li {
        list-style: none;
        margin: 0 auto;
    }

    .header .nav li a {
        margin: 0;
        font-size: 1.5em;
        font-weight: 600;
        color: #fff;
    }

    .header .nav li .button {
        margin: 10px 0 0 0;
    }


    /*** Menu logo ***/
    .header .toggle {
        position: relative;
        width: 30px;
        height: 30px;
        margin: -5px 0 0 95%;
        background: url(./pictures/menu.png);
        background-size: 30px;
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
        z-index: 1000;
    }

    .header .toggle.active {
        position: relative;
        top: 0;
        right: 0;
        background: url(./pictures/close-white.png);
        background-size: 30px;
        background-repeat: no-repeat;
        background-position: center;
    }

    .navigation .side-bar {
        display: none;
    }

    .container {
        position: absolute;
        margin: 100px 0 0 -40px;
        max-width: 100%;
        height: 83vh;

    }

    .container .box-content {
        margin: -170px auto;
        padding: 0 2px 60px 5px;
    }

    .container .box-content .box {
        margin: 0 auto 0 auto;
        top: 40px;
    }

    .container .hat {
        top: -670px;
    }

    .container .search form input {
        position: absolute;
        margin: -650px 0 0 0;
    }

    .container .search form button {
        margin: -650px 0 0 55px;
        transition: none;
    }

    .content {
        background: #e6e1de;
        margin: 0;
    }

    .footer {
        top: 850px;
        width: 100%;
        margin: 0 auto;

    }

    .footer .footer-box {
        position: absolute;
        width: 100%;
        margin: 0 auto 0 auto;
    }

}

@media (max-width: 650px) {
    .container .box-content .box {
        margin: 30px auto 0 auto;
    }

    .footer {
        top: 1500px;
    }

}


